.loader {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 20px; /* Spacing between loader and title */
    perspective: 800px;
    animation: enter 3s;
    transition: transform 0.3s;
  }

  .loader:hover {
    transform: scale(1.3); /* Slight zoom on hover */
  }
  
  .inner {
    position: absolute;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 5s linear infinite;
    border-bottom: 3px solid var(--space-whey);
  }
  
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 2.5s linear infinite;
    border-right: 3px solid var(--space-whey);
  }
  
  .inner.three {
    right: 0%;
    bottom: -30%;
    animation: rotate-three 2s linear infinite;
    border-top: 3px solid var(--space-whey);
  }
  
  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

  @keyframes enter {
    0% {
      opacity: 25%;
    }
    100% {
      opacity: 100%;
    }
  }
  